<div class="app-wrapper">
    <header>My Favorite NYC Food and Drink Spots</header>
    <div id="content-wrapper">
        <div id="left-panel">
            <button (click)="triggerReset()">
                Reset Map View
            </button>
            <app-location-list 
                (locationEmitter)="this.selectedLocation = $event;"
                />
        </div>
        
        <app-map
            [selectedLocation]="selectedLocation"
            [resetMapView]="resetMapView"
            />
    </div>
</div>


  


