header {
    text-align: center;
    margin-top: 20px;
    font-weight:700;
    font-size:1.7rem;
}


#content-wrapper {
    display:flex;
}

#left-panel {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#reset-view {
    width:200px;
    height:50px;
    font-size:1rem;
    border:solid 2px;
    background-color:#fce9d4;
    border-radius: 20px;
    box-shadow:6px 4.5px;
    transition: all .2s;

    &:hover {
        background-color: white;
        box-shadow:3px 2px;
    }

    &:active {
        box-shadow: none;
        background-color:  #ece9e6;

    }
}

